*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
header .navs ul {
    display: flex;
    gap: 50px;
}

header .logo {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}
header .logo img {
    width: 37px;
}

header .logo h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    color: #58A9A5;
}

header .navs ul li a {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    color: #404242;
}
header .navs ul li:hover a::after{
    content: "";
    width: 100%;
    height: 3px;
    background: #FEC62D;
    display: block;
}

header .navs ul li:hover a {
    color:#58A9A5;
}

header .button button {
    padding: 15px 40px;
    border-radius: 10px;
    border: 3px solid #58A9A5;
    background-color: #58a9a5;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

header .button button:hover {
    background-color: #fff;
    border: 3px solid #58A9A5;
    color: #58A9A5;
}

.home{
    display: flex;
    justify-content: space-around;
}
.home div:nth-child(1){
    width: 38%;
    margin-top: 100px;
}

.home div:nth-child(2){
    width: 38%;
}

.home .home_left h1 {
    font-family: Poppins;
    font-weight: 800;
    font-size: 55px;
    font-style: normal;
    line-height: 70px;
    color: #1C2323;
}

.home .home_left p{
    font-family: Poppins;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #404242;
    margin: 20px 0;
}
.home .home_left button {
    padding: 15px 40px;
    border-radius: 20px 20px 20px 0;
    border: 3px solid #58A9A5;
    background-color: #58a9a5;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    margin-top: 30px;
}
.home .home_left button:hover{
    background-color: #fff;
    border: 3px solid #58A9A5;
    color: #58A9A5;
}


.home .home_right {
    padding: 100px 0 0 0;

    position: relative;
}
.home .home_right img {
     position: absolute;
 }
 .home .home_right img:nth-child(1){
     z-index: 1;
     width: 100%;
 }
 .home .home_right img:nth-child(2){
    z-index: 2;
    width: 100%;
}



.contact{
    margin-top: 150px;
}

.contact .text h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 105px;
    text-align: center;
    color: #1C2323;
}

.contact .text p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #404242;
}

.contact .block {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact .block .block_left{
    width: 60%;
    height: 300px;
    background-image: url('../img/Rectangle\ 10.png');
    background-size: cover;
}

.contact .block .block_right {
    width: 25%;
    height: 300px;
    background: #CCF0E6;
    padding: 50px 50px;
}

.contact .block .block_right p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #486958;
}

.contact .block .block_right h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #486958;
    letter-spacing: 5px;
    margin-top: 20px;
}

.contact .block .block_left {
    position: relative;
}

.contact .block .block_left .play {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -35px;
    top: 200px;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.6);
}

.contact .block .block_left .play img {
    width: 30%;
    margin: 0 0 0 10px;
}
.section_3{
    
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}
.section_3 .left_img{
    width: 40%;
     
}
.section_3 .left_img img{
    width: 100%;
    height: 400px;
   border-radius: 10px;
}

.section_3 .right_text {
    width:60%;
     
}


.section_3 .right_text h3{
     width: 100%;
     padding-left: 60px;
     font-size: 30px;
}
.section_3 .right_text p{
    width: 100%;
    height: 100px;
   
    padding-left: 60px;
    padding-top: 30px;
    font-size: 20px;
    letter-spacing: 1px;
}

